/* Social component */
.social__title {
  font-size: 1.1em;
  color: #696969;
}

.social__links a {
  color: #696969;
  font-size: 2rem;
  transition: 300ms ease;
}

.social__links a:hover {
  color: var(--purpleColor) !important;
}

/* Preloader component */

html {
  overflow-y: hidden;
}

.loader__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--whiteColor);
  height: 100vh;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.loader__wrapper.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader {
  height: 70px;
  width: 70px;
  border: 3px solid var(--purpleColor);
  border-radius: 50%;
  position: relative;
  animation: rotate 1.2s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: var(--purpleColor);
  border-radius: 50%;
  top: 12px;
  left: 12px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Top Button */
.top__btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  background-color: var(--purpleColor);
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: 300ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.top__btn--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.top__icon {
  color: var(--whiteColor);
  font-size: 1.1rem;
}

.top__btn:hover {
  transform: scale(1.1);
}

/* Mobile menu settings */
.mobile__overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 9999;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 0%, 0.68);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 400ms ease;
}

.mobile__overlay.mobile__overlay--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile__menu {
  position: fixed;
  top: 80px;
  right: 0;
  background-color: var(--whiteColor);
  width: 80%;
  min-height: 100vh;
  z-index: 999999;
  display: none !important;
  transition: 300ms ease;
  transform: translateX(100%);
}

.mobile__menu.mobile__menu--active {
  transform: translateX(0);
}

/* Menu bar */
.menu__bar {
  position: relative;
  height: 40px;
  width: 40px;
  display: none;
}

.menu__bar span {
  position: absolute;
  display: inline-block;
  height: 5px;
  width: 90%;
  background-color: var(--purpleColor);
  border-radius: 99px;
  transition: 600ms ease;
}

.menu__bar span:first-child {
  top: 0;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
}

.menu__bar span:last-child {
  top: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.menu__bar.menu__bar--active span:first-child {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(135deg);
}

.menu__bar.menu__bar--active span:last-child {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(-315deg);
}

/* Scroll bar design */
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(128, 0, 128, 0.2);
  background-color: #f5f5f5;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--purpleColor);
}
